* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;   
}

html {
    font-size: 62.5%;
}

.drag__drop__container {
    position: relative;
    margin: 3rem;
}

.drag__boxes__container {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-flow: row wrap; /* row float using flexbox */
    justify-content: flex-start;
}

.drop__boxes__container {
    display: flex;
    flex-flow: row wrap; 
    align-content: flex-start;
    border: 7px solid black;
    height: 80rem;
    margin: 2rem auto;
}

.action__log {
    margin: 2rem;
}

.square__box {
    margin: 2rem;
    border: 7px solid black;
    height: 15rem;
    width: 15rem;
    cursor: move;
}

.empty__box {
    margin: 2rem;
    border: 7px solid black;
    opacity: 0.4;
    height: 15rem;
    width: 15rem;
}